<a href="https://colab.research.google.com/github/Abraham015/Capstone-Project/blob/main/ProyectoCapstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from tqdm import tqdm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
def generate_data(**kwargs):
  raise NotImplementedError

def read_data(**kwargs):
  csv_filename = kwargs["csv_filename"]
  return pd.read_csv(csv_filename, index_col=0)

In [3]:
ENV = "HW"

In [4]:
get_data = read_data if ENV == "HW" else generate_data

In [10]:
kwargs = {
    "csv_filename": "/content/DatosProyecto.csv"
}

data = get_data(**kwargs)

if not ENV == "HW":
  data.to_csv("DatosProyecto.csv")

In [15]:
data.head()

,TimeDegree,TimeLeaving,Unnamed: 3,Unnamed: 4,Discipline,Gender,GREV,GREQ
Completion,,,,,,,,
1,6,NaN,NaN,NaN,Engineering,1,330,780
1,8,NaN,NaN,NaN,Engineering,1,390,600
1,6,NaN,NaN,NaN,Engineering,1,500,730
1,4,NaN,NaN,NaN,Engineering,1,500,730
1,6,NaN,NaN,NaN,Engineering,1,510,800

In [27]:
#Se usará 1 para femenino y 0 para masculino
data['Gender2'] = np.where(data['Gender'] == 1, 1, 0)

In [30]:
#Para manejar un poco mejor los datos, se utlizará 1 para las personas que les toma más de 7 años terminar y 0 en caso contrario
data['HighTimeDegree'] = np.where(data['TimeDegree'] > "7", 1, 0)

In [19]:
data['count'] = 1

In [31]:
#Quitaremos las columnas que nos importan solamente
data2 = data[['HighTimeDegree','Gender2','count']]
data2.head()

            HighTimeDegree  Gender2  count
Completion
1                        0        1      1
1                        1        1      1
1                        0        1      1
1                        0        1      1
1                        0        1      1

In [32]:
#Creamos un pivote para estas tablas
pd.pivot_table(
    data2, 
    values='count', 
    index=['HighTimeDegree'], 
    columns=['Gender2'], 
    aggfunc=np.size, 
    fill_value=0
)

Gender2           0    1
HighTimeDegree
0               975  717
1                63   50

In [34]:
#Para obtener la probabilidad de T
PT=717+50/(63+50+975+717)
#La probabilidad de S
PS=63+50/(63+50+975+717)
#Calculando la interseccion
PInter=50/(63+50+975+717)
#Calculando la condicional
PCondicional=PInter/PS
print(PCondicional)

0.00043950248318903

Para encontrar las probabilidades de cada uno de los examenes.

In [39]:
#Se utilizará 1 en caso de que se consiga más de 540 puntos en el examen, 0 en caso contrario
data['HighExamScoreGREV'] = np.where(data['GREV'] > 540, 1, 0)
#Se utilizará 1 en caso de que se consiga más de 691 puntos en el examen, 0 en caso contrario
data['HighExamScoreGREQ'] = np.where(data['GREQ'] > 691, 1, 0)

In [40]:
data.head()

,TimeDegree,TimeLeaving,Unnamed: 3,Unnamed: 4,Discipline,Gender,GREV,GREQ,Gender2,count,HighTimeDegree,HighExamScore,HighExamScoreGREV,HighExamScoreGREQ
Completion,,,,,,,,,,,,,,
1,6,NaN,NaN,NaN,Engineering,1,330,780,1,1,0,0,0,1
1,8,NaN,NaN,NaN,Engineering,1,390,600,1,1,1,0,0,0
1,6,NaN,NaN,NaN,Engineering,1,500,730,1,1,0,0,0,1
1,4,NaN,NaN,NaN,Engineering,1,500,730,1,1,0,0,0,1
1,6,NaN,NaN,NaN,Engineering,1,510,800,1,1,0,0,0,1

In [42]:
#Quitaremos las columnas que nos importan solamente
data3 = data[['HighTimeDegree','HighExamScoreGREV','count']]
data4 = data[['HighTimeDegree','HighExamScoreGREQ','count']]
data3.head()
data4.head()

            HighTimeDegree  HighExamScoreGREQ  count
Completion
1                        0                  1      1
1                        1                  0      1
1                        0                  1      1
1                        0                  1      1
1                        0                  1      1

In [43]:
#Primero se hara examen GREV
pd.pivot_table(
    data3, 
    values='count', 
    index=['HighTimeDegree'], 
    columns=['HighExamScoreGREV'], 
    aggfunc=np.size, 
    fill_value=0
)

HighExamScoreGREV    0    1
HighTimeDegree
0                  862  830
1                   59   54

In [44]:
#Para obtener la probabilidad de T
PT=830+54/(862+830+59+54)
#La probabilidad de G
PGV=59+54/(862+830+59+54)
#Calculando la interseccion
PInter=54/(862+830+59+54)
#Calculando la condicional
PCondicional=PInter/PGV
print(PCondicional)

0.000506809073759491

In [45]:
#Para el GREQ
pd.pivot_table(
    data4, 
    values='count', 
    index=['HighTimeDegree'], 
    columns=['HighExamScoreGREQ'], 
    aggfunc=np.size, 
    fill_value=0
)

HighExamScoreGREQ    0    1
HighTimeDegree
0                  766  926
1                   54   59

In [46]:
#Para obtener la probabilidad de T
PT=926+59/(766+926+54+59)
#La probabilidad de G
PGQ=54+59/(766+926+54+59)
#Calculando la interseccion
PInter=59/(766+926+54+59)
#Calculando la condicional
PCondicional=PInter/PGQ
print(PCondicional)

0.0006049482717960812